body {
    font-family: 'Roboto', sans-serif;
    background-color: #DDF5EE;
}
.navBar{
  background-color: rgb(53, 53, 53);
}
.navLink {
  font-size: 95%;
  text-decoration: 'none'; 
  color: gray; 

  margin-right: 15px;
  width: 40px;
  appearance: none;
  border: none;
  outline: none;
  background: none;
}
.navLink:hover {
  font-size: 100%;
  text-decoration: none !important;
  color: lightgray; 
  width: 40px;

  margin-right: 15px;
  margin-bottom: -2px;

  appearance: none;
  border: none;
  outline: none;
  background: none;
}
.navLink:focus {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}
.formLabel{
  font-size: 14px;
  margin-bottom: 0;
}
.authFormInfo {
  font-size: 12px;
  color: darkgray;
  margin-bottom: -2px;
}
.authFormLink {
  font-size: 12px;
  color: rgb(92, 92, 92);
  margin-bottom: -2px;
}
.authFormLink:hover {
  font-size: 12px;
  color: rgb(59, 59, 59);
  margin-bottom: -2px;
}
.newEntryLabel  {
  font-size: 14px;
  margin-bottom: 0px;
  
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  line-height: 26px;
}
.newEntryInput {
  height: 25px;
  flex: 0 0 200px;
  margin-left: 44px;
  margin-bottom: 10px;
}
.newEntryTextarea {
  min-width: 383px;
  flex: 0 0 200px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.form-control:focus {
  border-color: #3b3b3b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.02), 0 0 4px rgba(71, 71, 71, 0.4);
}
.jumboHome {
  background-color: white;
}
.newLocationError {
  margin-top: 2px;
  margin-bottom: -10px;
  font-size: 80%;
  color: red;
}
.newLocationErrorField {
  margin-bottom: 0;
}
.newLocationOkField {
  margin-bottom: 11px;
}
.newLocationOkTextfield {
  margin-bottom: -5px;
}
.locationCardBtn {
  font-size: 12px;
  color: rgb(92, 92, 92);
  margin-top: 7px;
  margin-left: -8px;
  appearance: none;
  border: none;
  outline: none;
  background: none;
}
.locationCardBtn:hover {
  color: rgb(53, 53, 53);
  appearance: none;
  border: none;
  outline: none;
  background: none;
}
.locationCardBtn:focus {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}
.locationCardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 280px);
  grid-gap: 1rem;
  margin: 0 auto;
}
hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color: #c8cbcf;
  height: 1px;
}
.hoverPointer:hover {
  cursor: pointer;
}

.pagination > li > button
{
    background-color: white;
    color: #5A4181;
    outline: none !important;
    box-shadow: none;
}
.pagination > li > button:focus,
.pagination > li > button:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
    outline: none !important;
    box-shadow: none;
}
.paginationArrowBtn {
  background-color: white;
  border: 1px solid #dee2e6;
  height:37px;
  box-shadow: none;
  outline: none !important;
  box-shadow: none;
}
.commentCard {
  background-color: white;
  border: 3px solid rgba(159,164,158,0.11);
  border-radius: 8px;
}
.editDeleteCommentBtn {
  all: unset;
}
.editDeleteCommentBtn:hover,
.editDeleteCommentBtn:focus {
    background:inherit;
}

.editDeleteCommentBtn:focus {
    color:rgb(51, 51, 51);
    outline: 0px solid #fff;
    outline-offset: -4px;
}

.editDeleteCommentBtn:active {
    transform: scale(0.95);
}