body {
    font-family: 'Roboto', sans-serif;
    background-color: #DDF5EE;
}
.navLink {
  font-size: 95%;
  text-decoration: 'none'; 
  color: gray; 

  margin-right: 15px;
  width: 40px;
  appearance: none;
  border: none;
  outline: none;
  background: none;
}
.navLink:hover {
  font-size: 100%;
  text-decoration: none !important;
  color: lightgray; 
  width: 40px;

  margin-right: 15px;
  margin-bottom: -2px;

  appearance: none;
  border: none;
  outline: none;
  background: none;
}
.navLink:focus {
  appearance: none;
  border: none;
  outline: none;
  background: none;

}
.formLabel{
  font-size: 14px;
  margin-bottom: 0;
}
