body {
    font-family: 'Roboto', sans-serif;
    background-color: #DDF5EE;
}
.navLink {
  font-size: 95%;
  text-decoration: 'none'; 
  color: gray; 
  margin-right: 10px;
}
.navLink:hover {
  font-size: 100%;
  text-decoration: none !important;
  color: lightgray; 
  margin-right: 8px;
}
.formLabel{
  font-size: 14px;
  margin-bottom: 0;
}
/* .textInputField {

}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;

  color: #313131;
  font-size: 20px;

  appearance: none;
  border: none;
  outline: none;
  background: none;

  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 0px 16px 0px 16px;
  transition: 0.4s;
}
.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 16px 0px 16px 0px;
} */